<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Api</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Adapters</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>